/*------------------------------------*\
# Page Footer
\*------------------------------------*/

.site-footer {
  padding-top: space(double);

  .page-wrapper {
    padding-top: space(double);
    padding-bottom: space(double);
    border-top: 1px solid color(divider);
    border-bottom: 1px solid color(divider);
  }

  .site-footer__sections {
    display: flex;
    flex-wrap: wrap;

    @include breakpoint(medium) {
      flex-wrap: nowrap;
    }
  }

  h3 {
    @include font-size(28);
    margin-bottom: space(base);
    font-weight: 100;
  }

  ul {
    @extend %unstyled-list;
  }

  li {
    padding-bottom: space(half);
  }


  .icon-circle {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: space(half);
    padding: 5px 0 0 11px;
    border: 1px solid color(divider);
    border-radius: 50%;
    color: color(primary);

    .icon {
      top: 0;
    }
  }

  &__contact {
    a {
      display: inline-block;
      vertical-align: middle;
    }
  }

  &__links {
    flex: 1 0 25%;
  }

  &__contact {
    flex: 1 0 25%;
  }

  &__newsletter {
    flex: 2 0 50%;
  }

  @include breakpoint( max medium) {
    &__links,
    &__contact,
    &__newsletter {
      flex-basis: 100%;
    }
  }

}
