<div class="speaker speaker--<%= size%>">
    <a href="#" class="link-one">
      <%= tag :img, :src => lorem.image(img), :class => 'speaker__img'%>
      <div class="speaker__txt">
        <h2><%= speaker.name %></h2>
        <p><%= speaker.description %></p>
      </div>
    </a>
</div>