.speakers {
  display: flex;
  flex-flow: row wrap;
}

.speaker {
  flex: 1 100%;
  position: relative;

  a {
    display: block;
    position: relative;
    outline: space(half) solid color(background-shade);
    color: #fff;

    &:hover::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: color(primary);
      content: " ";
      opacity: .5;
      z-index: 1;
    }

    @include breakpoint(medium) {
      &.link-one:hover::after,
      &.link-three:hover::after {
        right: space(half);
      }

      &.link-two:hover::after {
        bottom: space(half);
      }
    }
  }

  @include breakpoint(medium) {
    &--large {
      flex: 1 50%;
    }

    &--medium {
      flex: 1 100%;
    }

    &--small {
      flex: 1 50%;
    }
  }

  &__img {
    display: block;
  }

  &__txt {
    position: absolute;
    bottom: 0;
    padding: space(base);
    z-index: 2;
  }

}

// .height-50\% {
//   background-color: cyan;
//   flex: 1 0 50%;
// }

// .speakers {

//   @include breakpoint(max medium) {

//     .grid__item {
//       flex: 1 0 100%;
//     }

//     img {
//       height: 380px;  // TEMP
//     }
//   }

// .grid {
//   justify-content: space-between;
// }


// }


// .speaker {
//   display: flex;
//   flex-direction: column;
//   position: relative;
//   color: #fff;
//   overflow: hidden;
//   background-size: cover;

//   &--large {
//     width: 50vw;
//     height: 50vw;
//   }

//   &--medium {
//     width: 50vw;
//     height: 25vw;
//   }

//   &--small {
//     width: 25vw;
//     height: 25vw;
//   }

//   &__txt {
//     position: absolute;
//     bottom: 0;
//     padding: space(base);
//     z-index: 2;
//   }
// }
