.speakers {
  display: flex;
  flex-flow: row wrap;
}

.speaker {
  flex: 1 100%;
  position: relative;

  a {
    display: block;
    position: relative;
    outline: space(half) solid color(background-shade);
    color: #fff;
    overflow: hidden;

    &:hover::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: color(primary);
      content: " ";
      opacity: .5;
      z-index: 1;
    }

    @include breakpoint(medium) {
      &.link-one:hover::after,
      &.link-three:hover::after {
        right: space(half);
      }

      &.link-two:hover::after {
        bottom: space(half);
      }
    }
  }

  @include breakpoint(medium) {

    &--large {
      flex: 1 50%;
    }

    &--medium {
      flex: 1 100%;
    }

    &--small {
      flex: 1 50%;
    }
  }

  &__img {
    display: block;
  }

  &__txt {

    position: absolute;
    z-index: 2;

    // only small
    @include breakpoint(max medium) {
      top: space(double);
      max-width: 60%;

      h2 {
        display: inline-block;
        padding: space(half) space(base);
        background-color: color(primary);
      }

      p {
        padding: space(half) space(base);
      }
    }

    @include breakpoint(medium) {
      bottom: 0;
      padding: space(base);
    }
  }
}