.speakers {
  display: flex;
  flex-flow: row wrap;
}

.speaker {
  flex: 1 100%;
  position: relative;

  // create masonry grid
  @include breakpoint(medium) {
    &--large  {flex: 1 50%; }
    &--medium {flex: 1 100%; }
    &--small  {flex: 1 50%; }
  }

  // wrap all content in an a-tag for possible linking
  a {
    display: block;
    position: relative;
    outline: space(half) solid color(background-shade);
    color: #fff;
    overflow: hidden;

    // blue filter
    &:hover {
      &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: color(primary);
        content: " ";
        opacity: .8;
        z-index: 1;
      }

      // roll-over text
      .speaker__rollover {
        max-height: 300px;
        opacity: 1;
      }
    }

    // differentiate positioning of blue filter
    @include breakpoint(medium) {
      &.link-one:hover::after,
      &.link-three:hover::after {
        right: space(half);
      }

      &.link-two:hover::after {
        bottom: space(half);
      }
    }
  }

  // img
  &__img {
    display: block;
  }

  // text
  &__txt {

    position: absolute;
    z-index: 2;

    // only small
    @include breakpoint(max medium) {
      top: space(double);
      max-width: 60%;
    }

    // only large
    @include breakpoint(medium) {
      bottom: 0;
//      padding: space(base);
    }
  }

  .speaker__title {
    display: inline-block;
    padding: space(half) space(base);
    background-color: color(primary);
    font-weight: 700;
  }

  .speaker__desc {
    padding: space(half) space(base);
    font-weight: 700;
  }

  // roll-over text
  &__rollover {
    padding: space(half) space(base);
    max-height: 0;
    transition: max-height .5s ease-in-out 0s, opacity .3s ease-in-out .1s;
    opacity: 0;
    font-weight: 400;

    hr {
      width: 11%;
      height: 2px;
      margin: 0 0 .75rem;
      background-color: #fff;
      color: #fff;
    }
  }
}
