.venue {
  display: flex;
  flex-wrap: wrap;

  @include breakpoint(medium) {
    align-items: center;
    flex-wrap: nowrap;
  }
}

@include breakpoint(medium) {

  .venue__text {
    flex: 1 0 50%;
  }

  .venue__img {
    flex: 1 0 50%;
  }
}


.venue__card {
  position: relative;
  background-color: #fff;

  @include breakpoint(medium) {
    left: space(quadruple);
    padding: space(half);
    box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24); /* stolen from googles inbox / material design */
  }
}


.venue__details {

  @extend %unstyled-list;

  > li {
    margin-bottom: space(half);

    @include  breakpoint(medium) {
      display: inline-block;
      padding-right: space(half);
      font-weight: 700;
    }
  }
}

.venue__cta {
  @include arrow-button(right, 40, primary);
  margin: space(base) 0;
}

